.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
}

.login > img {
  width: 100%;
}
.login > a {
  padding: 1.3rem;
  border-radius: 4rem;
  background-color: #1db954;
  font-weight: 600;
  color: white;
  text-decoration: none;
}
